
/* element.style {
    display: block;
} */
.top-button {
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-cyan-300);
    cursor: pointer;
    border: 4px solid var(--color-cyan-300);
    border-radius: 20px;
    padding: 11px 20px;
    font-size: 25px;
    transition: opacity .3s ease-in-out;
    position: fixed;
    bottom: 70px;
    right: 11px;
}

.top-button:hover {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.5);
  background: var(--color-cyan-400);
  color: white;
}